/*		Settings page
---------------------------------------------------------------*/

.coderlol-note-text
{
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box;
}

.coderlol-note-textarea
{
	width: 50%;
	height: 200px;
	border-radius: 4px;
	box-sizing: border-box;
}

.coderlol-note-select-btn
{	
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box
}

.coderlol-info-box-select-btn-settings
{	
	height: 400px !important;
	line-height: 100px !important;
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box
}

.coderlol-create-note-btn
{
	background-color: #4CAF50;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
	width: 50%;
}

.coderlol-delete-note-btn
{
	background-color: rgba(212, 0, 0, 0.69);
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
	width: 50%;
}

.coderlol-preview-note-btn
{
	background-color: rgba(11, 52, 255, 0.58);
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
	width: 50%;
}

.coderlol-setting-up-btn
{
	background-color: #4CAF50;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
}




/* Note category markers pattern
---------------------------------------------------------------*/
.coderlol-common-category {
	width: 100%;
	float: left;
	display: inline-flex;
}


.coderlol-note-outer {
	width: 48%;
    margin: auto;
}


/* NPREVIEW POPUP
---------------------------------------------------------------*/
