/*		Settings page
---------------------------------------------------------------*/

.coderlol-note-text
{
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box;
}

.coderlol-note-textarea
{
	width: 50%;
	height: 200px;
	border-radius: 4px;
	box-sizing: border-box;
}

.coderlol-note-select-btn
{	
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box
}

.coderlol-note-select-btn-settings
{	
	height: 100px !important;
	line-height: 100px !important;
	width: 50%;
	border-radius: 4px;
	box-sizing: border-box
}

.coderlol-create-note-btn
{
	background-color: #4CAF50;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
	width: 50%;
}

.coderlol-delete-note-btn
{
	background-color: rgba(212, 0, 0, 0.69);
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
	width: 50%;
}

.coderlol-preview-note-btn
{
	background-color: rgba(11, 52, 255, 0.58);
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
	width: 50%;
}

.coderlol-setting-up-btn
{
	background-color: #4CAF50;
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	padding: 14px 20px;
}






/*		Notes Box
---------------------------------------------------------------*/


.coderlol-info-box {
	/*
	margin: 0 0 1.5em 0;
	border-width: 2px;
	border-style: solid;
	*/
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,Arial,sans-serif;
	width: 100%;
}

.coderlol-info-box-title {
	position: relative;
	display: block;
	/*
	border-bottom-width: 2px;
	border-bottom-style: solid;
	*/
	padding: 0.2em;
	padding-left: 10px;
	font-size: 1.1em;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

.coderlol-info-box-content {
	background-color: #fff;
	color: #000;
	padding: 0.5em 1em 0.5em 1em;
  	width: 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.coderlol-info-box-content p {
	margin: 0px !important;
}
/*
.coderlol-info-box-content :nth-child(2n),
.coderlol-info-box-content :nth-child(2n+1) {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
*/
.coderlol-info-box-content :last-child {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}


